<div>
    <?=$data['about']->content?>
</div>
<hr>
<div>
    <h3><?=LAST?></h3>

    <?foreach($data['last'] as $ar) {?>
    <article class="article wow fadeIn">
        <header>
            <div class="page-header">
                <h3><?=$ar->title?></h3>
                <time class="entry-date" datetime="2014-07-15T14:51:02+00:00"><?=$ar->time_to_publick?></time>
            </div>
        </header>

        <div>
            <img src="/content/blog/600_<?=$ar->image?>">
            <?
                                $st = explode('<!-- pagebreak -->',htmlspecialchars_decode($ar->content));
            echo strip_tags($st[0]);
            ?>
        </div>
        <div class="clearfix"></div>
        <div class="panel-footer">
            <a href="/blog/<?=$ar->alias?>"><?=MORE?></a>
        </div>
    </article>
    <?}?>
</div>