<link rel="stylesheet" href="/modules/search/views/css/common.css"/>
<h4>Пошук випускника</h4>
<div id="main-form">
    <form id="search-form">
        <div class="form-group">
            <label for="PIB">ПІБ</label>
            <input list="PIB" id="PIBS" class="form-control">
            <datalist id="PIB">

            </datalist>
        </div>
        <div class="form-group">
            <label for="PIB">Рік народження</label>
            <input type="date" class="form-control" id="birthday" name="birthday">
        </div>
        <div class="form-group">
            <label for="graduation-year">Рік закінчення</label>
            <input type="date" class="form-control" id="graduation-year" name="graduation-year">
        </div>
        <div class="form-group">
            <label for="department"></label>
            <select class="form-control" id="department" name="department">

            </select>
        </div>
        <div class="form-group"><input type="submit" value="Пошук"/></div>
    </form>
</div>


<script>
    $('#seach').click(function() {
        $.get('/search/search/', {}, function(d) {
            $('#result').html(d);
        }, 'html')
    });
</script>
