<header class="content-title"><h1 class="title"><?=SIGN_IN?></h1>

    <div class="md-margin"></div>
</header>

<div class="col-md-6">
    <div class="xs-margin"></div>
    <form id="login-form" method="post" action="/account/sign_in">

        <div class="col-md-12">
            <label><?=USER_LOGIN?></label>
            <input required class="form-control" name="login" type="text">
        </div>
        <div class="col-md-12" style="margin-bottom: 10px">
            <label><?=USER_PASS?></label>
            <input required class="form-control input-lg"  name="password" type="password">
        </div>
        <span class="help-block text-right">
            <a href="/account/forgot"><?=FORGOT?></a>
        </span>
        <span class="help-block text-right">
            <a href="/account/registration"><?=REGISTRATION?></a>
        </span>
        <button class="btn btn-custom-2 btn-success"><?=SIGN_IN?></button>
    </form>
    <div class="sm-margin"></div>
</div>