<header class="content-title"><h1 class="title"><?=REGISTRATION?></h1>

    <div class="md-margin"></div>
</header>
<div class="col-md-12" id = "information">
    <?
    if (isset($data['error']))
    foreach($data['error'] as $error){?>
    <div class="alert alert-danger">
        <?=$error?>
    </div>
    <?}?>
</div>
<form method="post" action="/account/reg">
    <div class="col-md-6">
    <div class="xs-margin"></div>
        <!--Login-->
        <div class="col-md-12">
        <label><?=USER_LOGIN?></label>
        <input required value="<?=$data['user']['login']?>" class="form-control input-sm" name="login" id = 'login' type="text">
        </div>
        <!--Password-->
        <div class="col-md-12">
            <label><?=USER_PASS?></label>
            <input required class="form-control input-sm" name="password"  type="password">
        </div>
        <!--Email-->
        <div class="col-md-12">
            <label title="<?=EMAIL_HINT?>"><?=EMAIL?></label>
            <input required value="<?=$data['user']['email']?>" class="form-control input-sm" id="email" name="email" type="email" alt="<?=EMAIL_HINT?>" title="<?=EMAIL_TITLE?>">
    </div>
        <!--Surname-->
        <div class="col-md-12">
            <label><?=SUR_NAME?></label>
            <input required class="form-control input-sm" name="sur_name" value="<?=$data['user']['sur_name']?>" type="text" pattern="^[A-Z]{1}[a-z]+$" title="<?=SUR_NAME_TITLE?>">
        </div>
        <!--Firstname-->
        <div class="col-md-12">
            <label><?=FIRST_NAME?></label>
            <input required class="form-control input-sm" value="<?=$data['user']['first_name']?>" name="first_name" type="text" pattern="^[A-Z]{1}[a-z]+$" title="<?=FIRST_NAME_TITLE?>">
        </div>
        <!--Middle name-->
        <div class="col-md-12">
            <label><?= MIDDLE_NAME?></label>
            <input required class="form-control input-sm" value="<?=$data['user']['middle_name']?>" name="middle_name" type="text" pattern="^[A-Z]{1}[a-z]+$" title="<?=MIDDLE_NAME_TITLE?>">
        </div>
        <!--Birthday-->
        <div class="col-md-12">
            <label><?=BIRTHDAY?></label>
            <input required class="form-control input-sm" value="<?=$data['user'][birthday]?>" name="birthday" type="date">
        </div>
    <div class="sm-margin"></div>
</div>
    <div class="col-md-6">
        <div class="xs-margin"></div>
        <!--Telephone-->
        <div class="col-md-12">
            <label><?=TELEPHONE?></label>
            <input class="form-control input-sm" name="telephone" value="<?=$data['user']['telephone']?>" type="text" pattern="\+[3][8][0][0-9]{9}" required title="<?=TELEPHONE_TITLE?>"/>
        </div>
        <!--Year of entry-->
        <div class="col-md-12">
            <label><?=ENTRY_YEAR?></label>
            <input class="form-control input-sm" name="entry_year" value="<?=$data['user']['entry_year']?>" type="text" pattern="[0-9]{4}" required title="<?=ENTRY_YEAR_TITLE?>"/>
        </div>
        <!--Graduation year-->
        <div class="col-md-12">
            <label><?=GRADUATION_YEAR?></label>
            <input required class="form-control input-sm" name="graduation_year" value="<?=$data['user']['graduation_year']?>" type="text" pattern="[0-9]{4}" title="<?=GRADUATION_YEAR_TITLE?>">
        </div>
        <!--Department-->
        <div class="col-md-12">
            <label><?=DEPARTMENT?></label>
            <input required class="form-control input-sm" name="department_id" value="<?=$data['user']['department_id']?>" type="text">
        </div>
        <!--Speciality-->
        <div class="col-md-12">
            <label><?=SPECIALITY?></label>
            <input required class="form-control input-sm" name="speciality_id" value="<?=$data['user']['speciality_id']?>" type="text">
        </div>
        <!--Form of teaching-->
        <div class="col-md-12">
            <label><?=TEACHING_FORM?></label>
            <input required class="form-control input-sm" name="teaching_form" value="<?=$data['user']['teaching_form']?>" type="text">
        </div>
        <!--Educational qualification-->
        <div class="col-md-12">
            <label title="<?=EDUCATION_QUALIFICATION_HINT?>"><?=EDUCATION_QUALIFICATION?></label>
            <input required class="form-control input-sm" name="education_qualification" value="<?=$data['user']['education_qualification']?>" type="text">
        </div>
        <!--Additional info-->
        <div class="col-md-12">
            <label><?=ADDITIONAL_INFO?></label>
            <textarea required class="form-control input-sm" name="additional_info" value="<?=$data['user']['additional_info']?>"></textarea>
        </div>
        <div class="sm-margin"></div>
    </div>
<div class="col-md-6">
    <button class="btn btn-custom btn-success"><?=REGISTRATION?></button>
    <h5><?=FIELDS_HINT?></h5>
</div>
</form>
<script>
    function form_valid() {
        $.post('/account/valid',{login: $("#login").val(), email: $("#email").val()}, function(d){
           $("#information").html(d);
        });
    }
</script>
