<div class="col-md-12" id = "information">
    <?
    if (isset($data['error']))
    foreach($data['error'] as $error){?>
    <div class="alert alert-danger">
        <?=$error?>
    </div>
    <?}?>
</div>
<form method="post" action="/account/reg" id="registerForm">
    <div class="col-md-6">
    <div class="xs-margin"></div>
        <!--Email-->
        <div class="col-md-12">
            <label title="<?=EMAIL_HINT?>"><?=EMAIL?></label>
            <input id="email" class="form-control input-sm" name="email" required value="<?=$data['user']['email']?>"
                   type="email" alt="<?=EMAIL_HINT?>" title="<?=EMAIL_TITLE?>">
        </div>

        <!--Password-->
        <div class="col-md-12">
            <label><?=USER_PASS?></label>
            <input required class="form-control input-sm" name="password"  type="password">
        </div>

        <!--Surname-->
        <div class="col-md-12">
            <label><?=SUR_NAME?></label>
            <input class="form-control input-sm" name="sur_name" value="<?=$data['user']['sur_name']?>" type="text"
                   title="<?=SUR_NAME_TITLE?>" pattern="^[A-Za-z]*$" required>
        </div>

        <!--Firstname-->
        <div class="col-md-12">
            <label><?=FIRST_NAME?></label>
            <input class="form-control input-sm" name="first_name" value="<?=$data['user']['first_name']?>" type="text"
                   title="<?=FIRST_NAME_TITLE?>" pattern="^[A-Za-z]*$" required>
        </div>

        <!--Middle name-->
        <div class="col-md-12">
            <label><?= MIDDLE_NAME?></label>
            <input class="form-control input-sm" name="last_name" value="<?=$data['user']['last_name']?>" type="text"
                   title="<?=MIDDLE_NAME_TITLE?>" pattern="^[A-Za-z]*$">
        </div>

        <!--Birthday-->
        <div class="col-md-12">
            <label><?=BIRTHDAY?></label>
            <input class="form-control input-sm" name="birthday" value="<?=$data['user'][birthday]?>" type="date"
                   required>
        </div>
    <div class="sm-margin"></div>
</div>
    <div class="col-md-6">
        <div class="xs-margin"></div>

        <!--Telephone-->
        <div class="col-md-12">
            <label><?=TELEPHONE?></label>
            <input class="form-control input-sm" name="telephone" value="<?=$data['user']['telephone']?>" type="text"
                   title="<?=TELEPHONE_TITLE?>" pattern="\+[3][8][0][0-9]{9}"/>
        </div>

        <!--Year of entry-->
        <div class="col-md-12">
            <label><?=ENTRY_YEAR?></label>
            <input class="form-control input-sm" name="entry_year" value="<?=$data['user']['entry_year']?>" type="text"
                   title="<?=ENTRY_YEAR_TITLE?>" pattern="[0-9]*" required/>
        </div>

        <!--Graduation year-->
        <div class="col-md-12">
            <label><?=GRADUATION_YEAR?></label>
            <input class="form-control input-sm" name="graduation_year" value="<?=$data['user']['graduation_year']?>"
                   title="<?=GRADUATION_YEAR_TITLE?>" type="text" pattern="[0-9]*" required >
        </div>

        <!--Department (Novoseletskiy)-->
        <div class="col-md-12">
            <label><?=DEPARTMENT?></label>
            <select class="form-control" name="department" required>
                <option value="">-- <?=DEPARTMENT?> --</option>
                <?foreach($data['departments'] as $dep) {?>
                <option value="<?=$dep->_id?>"><?=$dep->name?></option>
                <?}?>
            </select>
        </div>

        <!--Speciality-->
        <div class="col-md-12">
            <label><?=SPECIALITY?></label>
            <select class="form-control" name="speciality" required>
                <option value="">-- <?=SPECIALITY?> --</option>
            </select>
        </div>

        <!--Form of teaching-->
        <div class="col-md-12">
            <label><?=TEACHING_FORM?></label>
            <select class="form-control" name="teaching_form" required>
                <option value="">-- <?=TEACHING_FORM?> --</option>
                <option value="<?=TEACHING_FORM1?>"><?=TEACHING_FORM1?></option>
                <option value="<?=TEACHING_FORM2?>"><?=TEACHING_FORM2?></option>
                <option value="<?=TEACHING_FORM3?>"><?=TEACHING_FORM3?></option>
            </select>
        </div>

        <!--Educational qualification-->
        <div class="col-md-12">
            <label title="<?=EDUCATION_QUALIFICATION_HINT?>"><?=EDUCATION_QUALIFICATION?></label>
            <select class="form-control" name="education_qualification" required>
                <option value="">-- <?=EDUCATION_QUALIFICATION?> --</option>
                <option value="<?=EDUCATION_QUALIFICATION1?>"><?=EDUCATION_QUALIFICATION1?></option>
                <option value="<?=EDUCATION_QUALIFICATION2?>"><?=EDUCATION_QUALIFICATION2?></option>
                <option value="<?=EDUCATION_QUALIFICATION3?>"><?=EDUCATION_QUALIFICATION3?></option>
                <option value="<?=EDUCATION_QUALIFICATION4?>"><?=EDUCATION_QUALIFICATION4?></option>
            </select>
        </div>

        <!--Additional info-->
        <div class="col-md-12">
            <label><?=ADDITIONAL_INFO?></label>
            <textarea class="form-control input-sm" name="additional_info" value="<?=$data['user']['additional_info']?>"></textarea>
        </div>

        <div class="sm-margin"></div>
    </div>
<div class="col-md-6">
    <button class="btn btn-custom btn-success"><?=REGISTRATION?></button>
    <h5><?=FIELDS_HINT?></h5>

</div>
</form>
<script>
    function form_valid() {
        $.post('/account/valid',{login: $("#login").val(), email: $("#email").val()}, function(d){
            $("#information").html(d);
        });
    }
    $('select[name=department]').change(function(){
        $.ajax({
            // Send data
            type: 'POST',
            url: '/account/get_speciality_by_department_id/',
            data: {department_id: $(this).val()},
            success: function(response){
                $('select[name=speciality]').html(response);
            }
        });
    });
</script>