<div class="row">
    <div class="col-md-5" align="center">
        <img src="/content/avatars/<?=$data['user']->avatar?>" class="thumbnail">
        <a href="/messages/<?=$data['user']->_user_id?>" class="btn btn-success"
           style="width: 100%;"><?=WRITE_MESSAGE?></a>
    </div>

    <div class="col-md-7">
        <h3><?=$data['user']->sur_name?> <?=$data['user']->first_name?> <?=$data['user']->last_name?></h3>

        <ul class="list-group">
            <li class="list-group-item"><b><?=ENTRY_YEAR?> :</b> <?=$data['user']->entry_year?></li>
            <li class="list-group-item"><b><?=GRADUATION_YEAR?> :</b> <?=$data['user']->gradation_year?></li>
            <li class="list-group-item"><b><?=BIRTHDAY?> :</b> <?=$data['user']->birthday?></li>
            <li class="list-group-item"><b><?=DEPARTMENT?> :</b> <?=$data['department']->name?></li>
        </ul>
    </div>
</div>