<div class="row">
    <div class="col-md-5" align="center">
        <img src="/content/avatars/<?=$data['user']->avatar?>" class="thumbnail">
        <a href="/messages/<?=$data['user']->_user_id?>" class="btn btn-success"
           style="width: 100%;"><?=WRITE_MESSAGE?></a>
    </div>

    <div class="col-md-7">
        <h3><?=$data['user']->sur_name?> <?=$data['user']->first_name?> <?=$data['user']->last_name?></h3>

        <ul class="list-group">
            <li class="list-group-item"><b><?=ENTRY_YEAR?> :</b> <?=$data['user']->entry_year?></li>
            <li class="list-group-item"><b><?=GRADUATION_YEAR?> :</b> <?=$data['user']->graduation_year?></li>
            <li class="list-group-item"><b><?=BIRTHDAY?> :</b> <?=$data['user']->birthday?></li>
            <li class="list-group-item"><b><?=DEPARTMENT?> :</b> <?=$data['department']->name?></li>
            <li class="list-group-item"><b><?=SPECIALITY?> :</b> <?=$data['speciality']->name?></li>
            <li class="list-group-item"><b><?=TEACHING_FORM?> :</b> <?=$data['user']->teaching_form?></li>
            <li class="list-group-item"><b><?=EDUCATION_QUALIFICATION?> :</b> <?=$data['user']->education_qualification?></li>
            <li class="list-group-item"><b><?=ADDITIONAL_INFO?> :</b> <?=$data['user']->additional_info?></li>
        </ul>
    </div>
</div>