<article class="article wow fadeIn">
    <header>
        <div class="page-header">
            <h3><?=$data->title?></h3>
            <time class="entry-date" datetime="2014-07-15T14:51:02+00:00"><?=$data->time_to_publick?></time>
        </div>
    </header>

    <div>
        <img src="/content/blog/600_<?=$data->image?>">
        <?=htmlspecialchars_decode($data->content);?>
    </div>

</article>

<div class="wow fadeIn">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#vk" aria-controls="vk" role="tab" data-toggle="tab">VK</a></li>
        <li role="presentation"><a href="#fb" aria-controls="fb" role="tab" data-toggle="tab">FB</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="vk">Тут будуть коментарі від ВК</div>
        <div role="tabpanel" class="tab-pane fade" id="fb">Тут будуть коментарі від Facebook</div>
    </div>

</div>